<div class="container-fluid">
    <div class="col-md-2">
        Top Categories<br><br>
        <ul>
            <%@c.each do |c|%>
                <li>
                    <%=c.attributes["name"]%><br>
                </li>
            <%end%>
        </ul>
        <br><br>
        Trending Now<br><br>
        <ul>
            <%@c.each do |c|%>
                <li>
                    <%=c.attributes["name"]%><br>
                </li>
            <%end%>
        </ul>
    </div>


    <div class="col-md-7">
        Recently Answered Questions<br><br>
        <%@q.each do |q|%>
            <div class="question col-md-12" style="margin:2em 0 1em 0">
                <img src="/02.jpg" height="50" width="50" style="border-radius:100%; //display:inline;">
                <span style="font-size:31px; margin:0.5em;"><%=q.heading%></span>
                <div class="col-md-12" id="q-desc">
                    <p style="//font-size:20px;"><%=q.description%></p>
                </div>

                <script type="text/javascript">
                    function loadXMLDoc(qid)
                    {
                        var xmlhttp;
                        if (window.XMLHttpRequest)
                          {// code for IE7+, Firefox, Chrome, Opera, Safari
                              xmlhttp = new XMLHttpRequest();
                          }
                          else
                          {// code for IE6, IE5
                              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                          }
                          xmlhttp.onreadystatechange=function()
                          {
                              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                              {
                                document.getElementById("p1").innerHTML=xmlhttp.responseText;
                            }
                        }
                        xmlhttp.open("GET","/up/"+qid,true);
                        xmlhttp.send();
                    }

                </script>
                <span class="col-md-6">
                <button id="answer<%=q.id%>">Write Answer</button> <button>Follow</button>
                </span>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('#answer<%=q.id%>').click(function(){
                            
                            $('#write_answer<%=q.id%>').css('visibility','visible');
                        });
                    });
                </script>
                <span class="col-md-6" style="float:right; text-align:right;">
                    <span>pid:12345</span> <span>Age</span> Yrs Old <span>Male</span> <span id="dots">...</span>
                    <span id="more" style="float:right;" hidden>
                        <ul>
                            <li>a</li>
                            <li>b</li>
                        </ul>
                    </span>
                </span>
                
                <%= form_for :answer, url: 'questions/'+q.id.to_s+'/answer/new', method: :post, html: { class: "answer_field_box col-md-12", id: "write_answer"+q.id.to_s, style: "visibility: hidden;" } do |f| %>
                    <%= f.label "ab" %>
                    <span class="col-md-6">Answer : <%= f.text_field :answer %></span>
                    File : <%= f.file_field :file , :multiple => true %>
                    <span class="col-md-6"><%= f.submit %></span>
                <% end %><br>
                <%@a = Answer.where(question_id: q.id)%>
                <h2 class="col-md-6">Answers</h2>
                <%@a.each do |a|%>
                    <span class="col-md-6" style="margin:">
                        <img src="/02.jpg" height="50" width="50" style="border-radius:100%;">
                        <span><strong><%#a.user.name%></strong></span>, <span><%#a.user.qualification%></span>
                    </span>
                    <p class="col-md-12" id="ans"><%=a.answer.truncate(275)%><a  id="clickme" style="color:#2b6dad">Read More</a></p>
                    <p id="hidden" style="display:none;"><%=a.answer%></p>
                    <%#q.attributes["objectId"]%>
                    <button onclick="loadXMLDoc('<%=q.id%>')">Upvote</button> <a href="">comments</a>
                <%end%>
            </div><br><hr><br>
        <%end%>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        $("#clickme").click(function() {
           $("#hidden").show();
           $("#ans").hide();
       });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#dots").click(function() {
           $("#more").show();
           //$("#a").hide();
       });
    });
    </script>

    <div class="col-md-3">
        Tips For The Day<br><br>
        <ul>
            <%@c.each do |c|%>
                <li>
                    <%=c.attributes["name"]%><br>
                </li>
            <%end%>
        </ul>
    </div>
</div>


